$themes: (  
    highlight: (  
        background-color: #ff0000,  
        color: #23d017,  
    ),  
    dark: (  
        background-color: #00ff00,  
        color: white,  
        font-size: 16px,  
        font-weight: bold,  
    
    ),  
    // ... 可以继续添加其他theme  
);  

  
@mixin useTheme() {  
    @each $theme-key, $theme-map in $themes {  
        div[theme='#{$theme-key}'] & {  
            @each $property, $value in $theme-map {  
                #{$property}: $value;   // 必须 使用 #{} 语法来拼接属性名 并且 $property 为 css 属性名
            }  
        }  
    }  
}
          
.item {  
    font-size: 14px;  
  
    @include useTheme;  
}