@font-face {
  font-family: "iconfont"; /* Project id 4611729 */
  src: url('iconfont.woff2?t=1720267472441') format('woff2'),
       url('iconfont.woff?t=1720267472441') format('woff'),
       url('iconfont.ttf?t=1720267472441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-69-zhuti:before {
  content: "\e8d4";
}

.icon-a-huaban2fuben9:before {
  content: "\e60f";
}

.icon-zhuti:before {
  content: "\eaed";
}

.icon-zhutise:before {
  content: "\e643";
}

.icon-zhuti1:before {
  content: "\e614";
}

.icon-maoyan:before {
  content: "\e663";
}

.icon-sun:before {
  content: "\e68a";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-CustomTheme:before {
  content: "\eaec";
}

.icon-sousuo1:before {
  content: "\e637";
}

.icon-moon:before {
  content: "\ea4f";
}

